li{
    list-style-type: none;
   }
   .fa-chevron-up.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease; /* Vous pouvez ajuster la durée de transition selon vos préférences */
  }
  